<div class="item">
  <div>Avatar (url)</div>
  <div>
    <input
      type="url"
      name="avatar_url"
      value="{{instructor.avatar_url}}"
      placeholder="http://"
    >
  </div>
</div>

<div class="item">
  <div>Instrutor</div>
  <div>
    <input
      type="text"
      name="name"
      value="{{instructor.name}}"
      placeholder="Editar cadastro"
    >
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input
      type="date"
      name="birth"
      value="{{instructor.birth}}"
    >
  </div>
</div>

<div class="item">
  <div>Sexo</div>
  <div>
    <span>
      <input
        type="radio"
        name="gender"
        value="M"
        {% 'checked' if instructor.gender === 'M' %}
      >Masculino
    </span>
    <span>
      <input
        type="radio"
        name="gender"
        value="F"
        {% 'checked' if instructor.gender === 'F' %}
      >Feminino
    </span>
  </div>
</div>

<div class="item">
  <div>Área de atuação</div>
  <div>
    <input
      type="text"
      name="services"
      placeholder="Separa por vírgula os serviços prestrados"
      value="{{instructor.services}}">
  </div>
</div>

<button type="submit">Salvar</button>